<div class=content id='page-content'>
  <h3 class="h3">Log In</h3>
  <div class="row justify-content-center">
    <div class="form">
      <%= form_with(scope: :login, url: login_path, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>

        <div class="input">
          <div>
            <%= f.label :username, class: "label" %>
            <%=f.text_field  :username, class: "input", placeholder: "Enter a user name" %>
          </div>
        </div>

        <div class="input">
          <div>
            <%= f.label :password, class: "label" %>
            <%=f.password_field  :password, class: "input", placeholder: "Enter a password" %>
          </div>
        </div>

        <div>
          <%= f.submit "Log in", class: "button" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
